# commands
invoke==2.2.0

# pre-commit
pre-commit==3.5.0

# testing
pytest==8.3.5
coverage==7.8.0

# linting
ruff==0.11.2

# docs
mkdocs==1.5.3
mkdocs-material==9.6.11
mkdocstrings-python==1.18.2
